<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
    <h1>Play Madlibs!</h1>
    <form action="/madlib">
        Person: 
        <select name="person">
            <option value="Harry">Harry</option>
            <option value="Ron">Ron</option>
            <option value="Herminoe">Herminoe</option>
        </select>
        <div>Input values separated by a space:</div>
        <div>Colors: 
            Blue <input type="checkbox" name="colors" value="blue">
            Red <input type="checkbox" name="colors" value="red">
            Yellow <input type="checkbox" name="colors" value="yellow">
        </div>
        <div>
            Please use at least two nouns<br>
            Nouns: <input type="textarea" name="noun"></div>
        <div>Adjectives: <input type="textarea" name="adj"></div>
        <input type="submit">
    </form>
</body>
</html>