<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
    <h1>Play Madlibs!</h1>
    <form action="/madlib">
        Person: 
        <select name="person">
            <option value="Harry">Harry</option>
            <option value="Ron">Ron</option>
            <option value="Herminoe">Herminoe</option>
        </select>
        <div>Color: <input type="text" name="color" ></div>
        <div>Noun: <input type="text" name="noun"></div>
        <div>Adjective: <input type="text" name="adj"></div>
        <input type="submit">
    </form>
</body>
</html>